# Environment files
.env
.qodo

.claude

.gitignore


# Python cache
__pycache__/


process_all_csvs.py
# Jupyter notebooks
*.ipynb

# Output folders
output_csvs/
CSVs/

# Drafts or temporary files
Draft/


main.ipynb
